body {
  text-align: center;
  background-color: #0d5b90;
  color: #FFF;
}

#mapDiv {
  width: 80%;
  height: 80%;
  border-radius: 1em;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#modal-button {
  margin-bottom: 1em;
}
